<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="explore.springboot.documentation.mapper.DocumentationMapper">

    <select id="selectDocumentationByPid" resultType="explore.springboot.documentation.mdm.entity.Documentation">
            select * from t_documentation where id = ${pid} limit 1
    </select>
</mapper>